The Map() Function

In [4]:
##map() - applies a function to all items in a list
def square(x):
    return x*x

numbers1 = [1,2,3,4,5,6,7,8,9,10]
list(map(square, numbers1))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
##map() - applies a function to all items in a list
##Lambda function with map

numbers=[1,2,3,4,5,6,7,8,9,10]

list(map(lambda x:x**2, numbers))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [7]:
##Map multiple iterables

num1 = [1,2,3]
num2 = [4,5,6]

added_num = list(map(lambda x,y:x+y, num1, num2))
print(added_num)

[5, 7, 9]

In [8]:
##map() to convert list of strings to integers
#use map to convert string to integers

str_num = ['1','2','3','4','5']
int_num = list(map(int, str_num))

print(int_num)

[1, 2, 3, 4, 5]

In [13]:
str1 = "DEEPAK"
str_out = list((map(str.lower, str1)))

print(str_out)

['d', 'e', 'e', 'p', 'a', 'k']

In [14]:
words = ['apple','banana','cherry']

upper_wrd = list(map(str.upper, words))

upper_wrd

['APPLE', 'BANANA', 'CHERRY']

In [16]:
def get_name(person):
    return person['name']

people=[
    {'name': 'Deepak','age':30},
    {'name': 'jack', 'age': 35}
]

list(map(get_name, people))

['Deepak', 'jack']